{% load static %}
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-sm-6 col-lg-4">
          <br>
          <h5 class="text-light"><i class="fa-solid fa-envelope me-2"></i>Email</h5>
          <p class="text-white paragraph-lg font-secondary">team@codecatsstudios.com</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <br>
          <h5 class="text-light"><i class="fa-solid fa-phone me-2"></i>Teléfono</h5>
          <p class="text-white paragraph-lg font-secondary">+52 662 190 6428</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <br>
          <h5 class="text-light"><i class="fa-solid fa-map-marker-alt me-2"></i>País</h5>
          <p class="text-white paragraph-lg font-secondary">México</p>
        </div>
      </div>
      <div class="text-center mt-4">

        <a href="https://wa.me/+526621906428" target="_blank" class="text-light mx-2"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61563839291214&mibextid=ZbWKwL" class="text-light mx-2"><i class="fa-brands fa-facebook fa-2x"></i></a>
        <a href="mailto:team@codecatsstudios.com" class="text-light mx-2"><i class="fa-solid fa-envelope fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright © <script>
        document.write(new Date().getFullYear());
      </script> a theme by devscats</p>
  </div>
</footer>
