{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Carousel Start -->
<div class="container-fluid position-relative p-0">
    <div class="header-carousel owl-carousel">
        <div class="header-carousel-item">
            <img src="{% static 'img/des001.jpeg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row gy-0 gx-5">
                        <div class="col-lg-0 col-xl-5"></div>
                        <div class="col-xl-7 animated fadeInLeft">
                            <div class="text-sm-center text-md-end">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">Bienvenido a Code Cats Studios</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">Tu aliado en la tecnología</h1>
                                <p class="mb-5 fs-5">Convertimos tus ideas en soluciones digitales para impulsar tu negocio...
                                </p>
                                <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="{% url 'about' %}">Ver más</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                    <h2 class="text-white me-2">Siguenos en:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/profile.php?id=61563839291214&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-carousel-item">
            <img src="{% static 'img/des003.jpeg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-12 animated fadeInUp">
                            <div class="text-center">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">Bienvenido a Code Cats Studios</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">Innovación a tu alcance</h1>
                                <p class="mb-5 fs-5">Creamos herramientas tecnológicas adaptadas a tus necesidades, ayudándote a crecer y destacar...
                                </p>
                                <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="{% url 'about' %}">Ver más</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <h2 class="text-white me-2">Siguenos en:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/profile.php?id=61563839291214&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- Carousel End -->


{% endblock %}
